@page "/contact"

<PageTitle>THE PETSCHAUER FAMILY</PageTitle>
@foreach (Person person in Petschauers)
{
    <h1>Family Member</h1>
    <br />
    <h4>Name: @person.Name</h4>
    <br />
    <h4>Age: @person.age</h4>
    <br />
    <h1>******************</h1>
    <br />
}

@code {


    List<Person> Petschauers = new()
    {
        new()
        {
            Name="Sam",
            age=34
        },
        new()
        {
            Name="Matt",
            age=33
        },
        new()
        {
            Name="Andrew",
            age=8
        },
        new()
        {
            Name="Quintin",
            age=5
        }
    };


    protected override async Task OnInitializedAsync()
    {

    }

    public class Person
    {
        public string? Name { get; set; }
        public int age { get; set; }
        public PersonGender Gender { get; set; }
    }

    public class PersonGender
    {
        public string Gender { get; set; }
        public bool Johnson { get; set; }
    }

}