@page "/photos"

<PageTitle>Photos</PageTitle>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link your CSS file -->
</head>
<body>

<div class="gallery">
    @foreach(string photo in photos)
    {
            <div class="gallery-item">
                <img src=@photo alt="Image 1">
            </div>
            <!-- Add more gallery items as needed -->
    }
</div>


</body>
</html>

@code {
    public List<string> photos = PhotoPaths.GetPhotoGalleryImages();


}
      